# misc
.DS_Store
*.pem
untracked

# logs
**/logs
logs
**/*.log

# local env files
.env
.env.*

# Visual Studio Code
.vscode
.history

# Jetbrains
.idea

# Python
__pycache__
# Deleted files
.fuse_hidden*
# SQL
infrastructure/postgresql/data/*