POKT_RPC="http://127.0.0.1:26657"
POKT_GRPC="127.0.0.1:9090"
HF_TOKEN="YOUR TOKEN"
APPS_LIST={"app_address" : "app_pk_hex", "app_address" : "app_pk_hex"}
APPS_PER_SERVICE="<service id>=<app address>, <service id>=<app address>"